<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="app/assets/images/lorem.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fblogadda.s3.amazonaws.com%2Fimages%2Fposts%2FGirls-hand-in-water-shadow-1532639371-large.jpg&imgrefurl=https%3A%2F%2Fwww.blogadda.com%2Fwallpaperdp%2Fpost-girls-hand-in-water-shadow-dp-downlaod%2F&tbnid=Ing1su10-fECTM&vet=12ahUKEwjoquHxi4fuAhWQSCsKHYD8BHEQMygeegUIARDnAQ..i&docid=IzLKX-Z4SdtHzM&w=563&h=575&q=girl%20shadow%20images%20for%20dp&ved=2ahUKEwjoquHxi4fuAhWQSCsKHYD8BHEQMygeegUIARDnAQ" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
