<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>

	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://picsum.photos/id/1/200/300" alt="Girl in a jacket" width="50" height="100">

				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Rakhi</strong>

					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://i.pinimg.com/originals/cc/a9/1a/cca91ab0df3afc7078bb85f5410b1dc0.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Komal</strong>

					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://www.imagediamond.com/blog/wp-content/uploads/2019/07/hair-face-dp.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Nirmala</strong>

					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>
